@font-face {
  font-family: 'Super Mario Maker Extended';
  src: url('/fonts/Super-Mario-Maker-Extended.ttf'),
    url('Super-Mario-Maker-Extended.woff2') format('woff2'),
    url('Super-Mario-Maker-Extended.woff') format('woff');
}

body {
  padding: 10px;
  background-color: #FACD00;

  font-family: 'Super Mario Maker Extended';
  font-weight: normal;
  font-style: normal;

  text-size-adjust: none;
}

.content {
  display: flex;
  justify-content: center;
}

.left {
  flex-grow: 1;
  min-width: 200px;
  max-width: 800px;
}

.right {
  flex-grow: 0.25;
  min-width: 230px;
  max-width: 250px;
}

.box
{
  border-radius: 15px;
  background: white;
  margin: 10px;
  padding: 20px;
  box-shadow: black 5px 5px 0px;
}

.queue-course {
  font-size: 12px;
}

.ticket-small
{
  background: url('/images/ticket-small.png') no-repeat center center;
  background-size: 100% 19px;
  margin: 2px;
  padding: 4px;
  padding-left: 10px;
}

.ticket-owned
{
  color: gray;
}

img {
  vertical-align: middle;
}

.submitted-course {
  border-radius: 10px;
  background: #FACD00;
  margin: 5px;
  padding: 5px;
  box-shadow: black 3px 3px 0px;
}

.submitted-course p {
  margin: 0px;
}

.submitted-course img {
  margin-left: 10px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.queue {
  background-color: lightgreen;
}

.right .box {
  border-radius: 8px;
  box-shadow: black 3px 3px 0px;
  padding: 8px;
}

button {
  text-align: center;
  border-radius: 10px;

  font-family: 'Super Mario Maker Extended';
  font-size: 16px;
}

.play-button {
  width: 340px;
  height: 150px;
  text-align: center;
  border-radius: 10px;

  font-family: 'Super Mario Maker Extended';
  font-weight: normal;
  font-style: normal;
}

.play-box {
  display:flex;
  justify-content: center;
}

.course-id-small {
  display: inline-block;
  width: 100px;
}

.course-id {
  background: lightgoldenrodyellow;
}

input, select {
  font-size: 16px;
}