ServiceConfiguration.configurations.upsert(
    { service: 'discord' },
    {
      $set: {
        loginStyle: "popup",
        clientId: "<discordClientId>", 
        secret: "<discordSecret>"
      }
    }
  );